body {
	font-family: 'Helvetica';
	background-color: #1f2424;
	color: #fff;
	margin-bottom: 15px;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Bookman';
	font-weight: bold;
}

textarea {
	font-size: 12px !important;
	min-height: 75px;
}

a, a:visited {
	color: #ffdd57;
}

a:hover, a:active {
	color: #e5c64e;
}

.header {
	background-color: #3a4344;
	margin: 0px -15px 20px -15px;
}

#achievementList, #featList, #perkList, #crisprList {
	padding-left: 15px;
	padding-right: 15px;
}

#achievementList>div>div:hover,
#featList>div>div:hover,
#perkList>div>div:hover,
#crisprList>div>div:hover {
	background-color: #2b3232;
}

#achievementList>div {
	position: relative;
	width: 100%;
}

#achievementList>div>.row {
	width: 100%;
}

.col-icon {
	margin-left: 25px;
	padding-right: 10px;
	width: 90px;
	text-align: right;
}

.col-upgrade {
	margin-left: 15px;
	padding-right: 3px;
	width: 26px;
	text-align: right;
}

.star0 {
	fill: #454545;
}
.star1 {
	fill: #000;
	background-color: #aaa;
	border-radius: 5px;
}
.star2 {
	fill: #fff;
}
.star3 {
	fill: #cd7f32;
}
.star4 {
	fill: #c0c0c0;
}
.star5 {
	fill: #d4af37;
}
.checkmark {
	fill: #32CD32;
}

.yellow {
	color: #FFDD57;
}

.green {
	color: #7FFF00;
}

.filter-highlight {
	box-shadow: 0px 5px 0px 0px #131616;
	background-color: #131616;
}

.star1.filter-highlight {
	box-shadow: 0px 5px 0px 0px #131616;
	fill: #000;
	background-color: #aaa;
}

.hr-tip {
	border: 1px solid #fff;
	width: 75%;
	align: center;
	margin: auto;
}

.tooltip-inner {
	width: 250px;
	max-width: 250px;
}

#featList>h2 {
	color: #ff3860;
}

#perkList>h2 {
	color: #1abc9c;
}

#crisprList>h2 {
	color: #fff;
}

#crisprList>div>div {
	text-transform: capitalize;
}

.universe-totals {
	font-size: 12px;
}

#filterRow > div {
	margin-bottom: 5px;
}

#filterRow label {
	font-size: 13px;
}

#filterRow .btn {
	box-shadow: none;
}

#buttons .btn:not(:first-child) {
	margin-top: 10px;
}